<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div >

    <table width="100%">
        <tr>
            <td width="50%" align="center">
                <p>
                    <button ng-disabled="mySwitch">Click Me!</button>
                </p>
            </td>
            <td width="50%" align="center">
                <p>
                    <input type="checkbox" ng-model="mySwitch">Button
                </p>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td align="center">
                <p>
                    <strong>
                        {{ mySwitch}}
                    </strong>

                </p>
            </td>
            <td>
                
            </td>
        </tr>
    </table>

</div>
