<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div >

    <table width="100%">
        <tr>
            <td width="33%" align="center">
                <p>
                    <button class="btn btn-default" ng-show="mySwitch">
                        Me muestro
                    </button>
                </p>
            </td>
            <td width="33%" align="center">
                <p>
                    <button class="btn" ng-hide="mySwitch" onclick="javascript:alert('yo me escondo');">
                        Me escondo
                    </button>
                </p>
            </td>
            <td width="3%" align="center">
                <p>
                    <input type="checkbox" ng-model="mySwitch" >
                    Ver boton
                </p>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td align="center">
                <p>
                    <strong>
                        {{ mySwitch}}
                    </strong>

                </p>
            </td>
            <td>
                
            </td>
        </tr>
    </table>

</div>